[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Frank Xu (frankwxu)
[access "refs/for/refs/*"]
	read = group user/Frank Xu (frankwxu)
	push = group user/Frank Xu (frankwxu)
	label-Code-Review = -2..+2 group user/Frank Xu (frankwxu)
	label-Verified = -1..+1 group user/Frank Xu (frankwxu)
	rebase = group user/Frank Xu (frankwxu)
	removeReviewer = group user/Frank Xu (frankwxu)
	submit = group user/Frank Xu (frankwxu)
[access "refs/heads/*"]
	read = group user/Frank Xu (frankwxu)
	create = group user/Frank Xu (frankwxu)
	push = +force group user/Frank Xu (frankwxu)
	pushMerge = group user/Frank Xu (frankwxu)
[access "refs/tags/*"]
	push = +force group user/Frank Xu (frankwxu)
	pushTag = group user/Frank Xu (frankwxu)
	pushSignedTag = group user/Frank Xu (frankwxu)
